
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Edad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list class="container mt-3 mb-2">
      <ion-label  position="floating">Digita tu nombre </ion-label>
      <ion-input  #termino type="text" placeholder="Entrar texto" style="border:none;border-bottom: 1px solid #FFEBCD  ;"></ion-input>
    </ion-list>
    <ion-button expand="block" (click)="edad(termino.value)" color="secondary" class="mt-3">Aceptar</ion-button>
    <ion-list class="bg-success mt-2" *ngIf="msm == 'Adulto' || msm == 'Adulto' || msm == 'Viejo'">
      <ion-item>{{msm}} de {{data}} Años</ion-item>
       <ion-img style="width: 70%; height: 50%;" *ngIf="msm == 'Adulto'" src="/assets/img/adulto.jpg"></ion-img>
        <ion-img style="width: 70%; height: 50%;" *ngIf="msm == 'Joven'" src="/assets/img/joven.jpg">
          </ion-img>
          <ion-img style="width: 70%; height: 50%;" *ngIf="msm == 'Viejo'" src="/assets/img/anciano.jpg"></ion-img>
    </ion-list>
   
  </ion-content>