<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Contacto</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Johanly Ariel Baez Lima; 2020-9409 -->
<ion-content>
  <ion-card>
      <br>
      <ion-img style="width: 275px; height: 200px" src="assets/img/datosjabl.jpg"></ion-img>
      <br>
      <ion-list class="lista">
        <ion-item><ion-icon name="person-outline" color="success"></ion-icon>
          <ion-icon></ion-icon> 
          Johanly A. Báez Lima
        </ion-item>
        <ion-item><ion-icon name="call-outline" color="success"></ion-icon>
          <ion-icon></ion-icon> 
          +1 (829) 804 0292
        </ion-item>
        <ion-item><ion-icon name="mail-outline" color="success"></ion-icon>
          <ion-icon></ion-icon> 
          20209409@itla.edu.do
        </ion-item>
        <ion-item><ion-icon name="location-outline" color="success"></ion-icon>
          <ion-icon></ion-icon> 
          Santiago Ródriguez
        </ion-item>
        <ion-item><ion-icon name="git-branch-outline" color="success"></ion-icon>
          <ion-icon></ion-icon> 
          <a target="_blank" rel="noopener noreferrer" href="https://github.com/jAriel1227">Github - jAriel1227</a>
        </ion-item>
      </ion-list>
  </ion-card>
</ion-content>